{% extends 'base.twig' %}

{% block content %}
<h2>Warenkorb</h2><hr/>

<table class="table">
    <thead>
        <tr>
            <td>
                <b>Art.-Nr.</b>
            </td>
            <td>
                <b>Bezeichnung</b>
            </td>
            <td>
                <b>Preis</b>
            </td>
            <td>
                <b>&nbsp</b>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for ware in waren %}
        <tr>
            <td>
                {{ ware.id }}
            </td>
            <td>
                {{ ware.bezeichnung }}
            </td>
            <td>
                {{ ware.preis }}
            </td>
            <td>
                <a href="loesch.php?id={{ ware.id }}" class="del">L&ouml;schen</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                <em>keine waren im Korb</em>
            </td>
        </tr>
    </tbody>
{% endfor %}
</table>
<br />
<b>Gesamt:</b> {{ preis }} Euro
{% endblock %}